//- - var bodyClass
doctype html

block var
	- var pageTitl
	- var pageDisc
	- var pageKeyw
	- var bodyClass
	- var verTag

html(lang="en")
	block head
		include _head
	
	body(class=bodyClass)
		block bodyHeader
			//- include chrome/header
		
		block bodyMain
		
		block bodyFooter
			//- include chrome/footer
		
		block bodyScripts
			// script(type="text/javascript" src="assets/app.js?v=#{verTag}")