extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
				p TO BE DELETED
			section.body
				p 开播八年之际，我们隆重邀请中文字体设计的前辈大师，柯炽坚先生，与听众分享四十载职业生涯的心路历程、作品积淀及技术变迁。
				p 同时，柯老师也将为我们介绍酝酿已久的新作——「铁宋」项目的背景、细节和创新。
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>thetype.com/typechat/ep-211/</u>，即可浏览更多相关信息及参考链接。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">thetype.com/typechat/feed/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://podcasts.apple.com/cn/podcast/字谈字畅/id1041704528</u>
					li
						p 下载音频：<br><u>https://static.thetype.cloud/typechat/typechat212.mp3</u>
					li
						p 荔枝 FM：<br><u>https://lizhi.fm/1852153/3030629244388465670</u>
					li
						p 网易云音乐：<br><u>http://music.163.com/#/djradio?id=346541057</u>
			section.body
				p.divider * * *
			section.heading
				h3 嘉宾
			section.body-list--figure
				ul
					li
						p 柯炽坚（Sammy Or）：字体设计师，设计教育者
						p 1980 年，加入香港地下铁路公司，担任导向指示系统设计师一职；参与了为导向指示系统特别设计的地铁宋体。后转职蒙纳（香港）公司，出任字体经理兼首席中文字体设计师。1989 年，创立 TTL 字体科技有限公司，研发中文矢量轮廓字体；设计了以俪宋、俪黑为代表的三十余款「俪」系列字体。1992 年，受聘于台湾华康科技公司，担任副总裁兼任字体设计总监。后于美国 Bitstream 字体科技公司担任中、日、韩文字体设计顾问。2008 年，创立域思玛字体设计公司，开发信黑体系列。
						p 曾于台湾实践大学任副教授，现为香港理工大学设计学院客座教授。
			section.heading
				h3 主播
			section.body-list--figure
				ul
					li
						p Eric：字体排印研究者，译者，The Type 编辑
			section.body
				p 欢迎与我们交流或反馈，来信请致 <u>podcast@thetype.com</u>​。如果你喜爱本期节目，也欢迎用支付宝向我们捐赠：<u>hello@thetype.com</u>​。
				//- p The Type 会员计划已上线，成为我们的会员，即可享受月刊通讯、礼品赠送、活动优惠以及购物折扣等权益。
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p https://thetype.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter 或 Facebook 上关注我们。
