extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
				p TO BE DELETED
			section.body
				p 字样的样字应该是什么样子？
				p 如何挑选字体设计的种字，如何为字体样张配字，如何展示「字体」这件作品本身，是字体设计师、字体排印师和平面设计师的共同课题，也是字体设计与语言文化的微妙融合。
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>typeisbeautiful.com/2017/07/12950/</u>，即可浏览更多相关信息及参考链接。
			section.body
				p.divider * * *
			section.heading
				h3 抽奖活动
			section.body
				p 第十一轮抽奖已揭晓，祝贺 璐 和 宇宙 两位听众。
				p 第十二轮抽奖活动开始，本期奖品为「フォントかるた」（字体歌牌）两套。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">typeisbeautiful.com/feed/typechat/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://itunes.apple.com/cn/podcast/zi-tan-zi-chang/id1041704528</u>
					li
						p 下载音频：<br><u>https://thetype.b0.upaiyun.com/typechat/typechat051.mp3</u>
					li
						p 荔枝 FM：<br><u>http://lizhi.fm/1852153/2612342546711260678</u>
					li
						p 网易云音乐：<br><u>http://music.163.com/#/djradio?id=346541057</u>
			section.body
				p.divider * * *
			section.heading
				h3 主播
			section.body-list--figure
				ul
					li
						p Eric：字体排印研究者，译者，Type is Beautiful 编辑
					li
						p 蒸鱼：设计师，Type is Beautiful 编辑
			section.body
				p 欢迎致信 <u>podcast@thetype.com</u> 与我们交流或反馈。如果你喜爱本期节目，也欢迎用 PayPal 或支付宝向我们捐赠，账户与邮箱地址相同。
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p https://typeisbeautiful.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter 或 Facebook 上关注我们。
