extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
				p TO BE DELETED
			section.body
				p 深受专业人士及爱好者认可的字体设计软件 Glyphs，迭代到了第 3 个大版本。
				p Glyphs 3 将为造字及更广泛的视觉设计带来哪些新的可能性？我们再次邀请 Glyphs 合作团队 3type（三言）的朋友——刘育黎和曾祥东——为大家详尽介绍此次升级引入的新功能，以及中文本地化的进展。
				p 本期节目另含 3type 特别赠送的 TypeSchool 限量优惠，请勿错过。
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>thetype.com/typechat/ep-142/</u>，即可浏览更多相关信息及参考链接。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">thetype.com/typechat/feed/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://podcasts.apple.com/cn/podcast/字谈字畅/id1041704528</u>
					li
						p 下载音频：<br><u>https://static.thetype.cloud/typechat/typechat142.mp3</u>
					li
						p 荔枝 FM：<br><u>https://lizhi.fm/1852153/5154530141267500038</u>
					li
						p 网易云音乐：<br><u>http://music.163.com/#/djradio?id=346541057</u>
			section.body
				p.divider * * *
			section.heading
				h3 嘉宾
			section.body-list--figure
				ul
					li
						p 刘育黎（Willie Liu）：同济大学媒体与传达方向研究生在读；3type 设计师
					li
						p 曾祥东：复旦大学理论物理学专业，3type 技术支持
			section.heading
				h3 主播
			section.body-list--figure
				ul
					li
						p Eric：字体排印研究者，译者，The Type 编辑
			section.body
				p 欢迎与我们交流或反馈，来信请致 <u>podcast@thetype.com</u>​。如果你喜爱本期节目，也欢迎用支付宝向我们捐赠：<u>hello@thetype.com</u>​。
				p The Type 会员计划已上线，成为我们的会员，即可享受月刊通讯、礼品赠送、活动优惠以及购物折扣等权益。
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p https://thetype.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter 或 Facebook 上关注我们。
