extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
				p TO BE DELETED
			section.body
				p 汉语拼音作为汉语的标音方案，已是时下大陆地区的绝对主流；然而传统的注音符号也仍未脱离实践，并在台湾保持着生命力。
				p 今日，我们特邀两位自小学习和使用注音符号的嘉宾 Ethan 和 But，与听众分享关于注音符号的字、体、排、印。
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>typeisbeautiful.com/2017/08/13304/</u>，即可浏览更多相关信息及参考链接。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">typeisbeautiful.com/feed/typechat/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://itunes.apple.com/cn/podcast/zi-tan-zi-chang/id1041704528</u>
					li
						p 下载音频：<br><u>https://thetype.b0.upaiyun.com/typechat/typechat054.mp3</u>
					li
						p 荔枝 FM：<br><u>http://lizhi.fm/1852153/2620195823536922630</u>
					li
						p 网易云音乐：<br><u>http://music.163.com/#/dj?id=908909947</u>
			section.body
				p.divider * * *
			section.heading
				h3 嘉宾
			section.body-list--figure
				ul
					li
						p 陈奕钧（Ethan）：W3C 特邀专家，《中文排版需求》编辑，「汉字标准格式」作者
					li
						p 柯志杰（But）：中文字体开发者，《字型散步》合著者，「字嗨」社团发起人
			section.body
				p.divider * * *
			section.heading
				h3 主播
			section.body-list--figure
				ul
					li
						p Eric：字体排印研究者，译者，Type is Beautiful 编辑
					li
						p 蒸鱼：设计师，Type is Beautiful 编辑
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p https://typeisbeautiful.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter 或 Facebook 上关注我们。
