extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
				p TO BE DELETED
			section.body
				p Futura，几何无衬线体的一个标签作品，现代主义设计的一种精神象征。恰逢其诞生九十周年，特邀嘉宾 Rex 与我们分享 Futura 及其设计师 Paul Renner 的故事。
				p 另，时至 Type is Beautiful 成立十周年，我们计划 5 月 27 日在上海举办活动。详情后续发布，欢迎关注。
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>typeisbeautiful.com/2017/04/12019/</u>，即可浏览更多相关信息及参考链接。
			section.body
				p.divider * * *
			section.heading
				h3 抽奖活动
			section.body
				p 第八轮抽奖已揭晓，祝贺晓明和浩浩两位听众。
				p 第九轮抽奖活动开启，截至 4 月 24 日零时前。本期奖品为来自东京印刷博物馆的纪念品——杯垫两套。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">typeisbeautiful.com/feed/typechat/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://itunes.apple.com/cn/podcast/zi-tan-zi-chang/id1041704528</u>
					li
						p 下载音频：<br><u>http://thetype.b0.upaiyun.com/typechat/typechat045.mp3</u>
					li
						p 荔枝 FM：<br><u>http://lizhi.fm/1852153/2596758032391914502</u>
					li
						p 网易云音乐：<br><u>http://music.163.com/#/dj?id=904481776</u>
			section.body
				p.divider * * *
			section.heading
				h3 嘉宾
			section.body-list--figure
				ul
					li
						p Rex Chen：Type is Beautiful 建立者、主编
			section.heading
				h3 主播
			section.body-list--figure
				ul
					li
						p Eric：字体排印研究者，译者，Type is Beautiful 编辑
					li
						p 蒸鱼：设计师，Type is Beautiful 编辑
			section.body
				p 欢迎致信 <u>podcast@thetype.com</u> 与我们交流或反馈。如果你喜爱本期节目，也欢迎用 PayPal 或支付宝向我们捐赠，账户与邮箱地址相同。
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p http://typeisbeautiful.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter 或 Facebook 上关注我们。
