extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
				p TO BE DELETED
			section.body
				p Italic type，始自文艺复兴的书写体风格，对后世拉丁字母字体的斜体样式影响至深。今天我们特别邀来老朋友 Mira，与大家分享「意大利体」的源起与发展，「意大利斜体」和「罗马正体」的碰撞与融合，以及「斜体」在当下书写规范中的应用。
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>typeisbeautiful.com/2018/04/14685/</u>，即可浏览更多相关信息及参考链接。
			section.body
				p.divider * * *
			section.heading
				h3 抽奖活动
			section.body
				p 第二十一抽奖已揭晓，祝贺 一泓 和 靖轩 两位听众。
				p 第二十二轮抽奖活动开启，本期奖品为嘉宾 Mira 联合翻译的《西文书法的艺术》以及主播 Eric 翻译的《西文排版》。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">typeisbeautiful.com/feed/typechat/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://itunes.apple.com/cn/podcast/zi-tan-zi-chang/id1041704528</u>
					li
						p 下载音频：<br><u>https://thetype.b0.upaiyun.com/typechat/typechat071.mp3</u>
					li
						p 荔枝 FM：<br><u>https://lizhi.fm/1852153/2664354134655413254</u>
					li
						p 网易云音乐：<br><u>http://music.163.com/#/dj?id=909157574</u>
			section.body
				p.divider * * *
			section.heading
				h3 嘉宾
			section.body-list--figure
				ul
					li
						p Mira Ying：译者，平面设计师，西文书法爱好者；Type is Beautiful 编辑；译著有《当我们阅读时，我们看到了什么》、《字体设计艺术：西文字体排印五讲》和《西文书法的艺术》等
			section.body
				p.divider * * *
			section.heading
				h3 主播
			section.body-list--figure
				ul
					li
						p Eric：字体排印研究者，译者，Type is Beautiful 编辑
					li
						p 蒸鱼：设计师，Type is Beautiful 编辑
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p https://typeisbeautiful.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter 或 Facebook 上关注我们。
