extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
				p TO BE DELETED
			section.body
				p 什么是品牌字体，字体对品牌有何效用，如何为品牌设计字体？本期特邀来自文鼎字库的两位嘉宾——设计总监杨淑慧、字型应用研究所所长蓝见维——剖析真实案例，为听众讲述知名品牌背后的字体故事。
				p 此外，文鼎字库将在上海举办系列活动，包括 10 月 14 日的品牌字体研讨会，及 10 月 15 至 21 日的「字体的过去、现在和未来」主题展览，欢迎关注。
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>typeisbeautiful.com/2017/09/13382/</u>，即可浏览更多相关信息及参考链接。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">typeisbeautiful.com/feed/typechat/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://itunes.apple.com/cn/podcast/zi-tan-zi-chang/id1041704528</u>
					li
						p 下载音频：<br><u>https://thetype.b0.upaiyun.com/typechat/typechat055.mp3</u>
					li
						p 荔枝 FM：<br><u>http://lizhi.fm/1852153/2622731499221622278</u>
					li
						p 网易云音乐：<br><u>http://music.163.com/#/dj?id=909157574</u>
			section.body
				p.divider * * *
			section.heading
				h3 嘉宾
			section.body-list--figure
				ul
					li
						p 杨淑慧（Grace）：文鼎字库董事长、设计总监
					li
						p 蓝见维：文鼎字库字型应用研究所所长
			section.body
				p.divider * * *
			section.heading
				h3 主播
			section.body-list--figure
				ul
					li
						p Eric：字体排印研究者，译者，Type is Beautiful 编辑
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p https://typeisbeautiful.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter 或 Facebook 上关注我们。
