extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
				p TO BE DELETED
			section.body
				p 承接上期，我台继续发回在东京举办的 Type& 2018 相关报道。本期特别邀请到了在日本求学中的 Richor，与主播 Eric 一同分享参与 Type& 的见闻及感想。
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>thetype.com/2018/11/16045/</u>，即可浏览更多相关信息及参考链接。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">thetype.com/feed/typechat/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://itunes.apple.com/cn/podcast/字谈字畅/id1041704528</u>
					li
						p 下载音频：<br><u>https://thetype.b0.upaiyun.com/typechat/typechat086.mp3</u>
					li
						p 荔枝 FM：<br><u>https://lizhi.fm/1852153/2703317601325803526</u>
					li
						p 网易云音乐：<br><u>http://music.163.com/#/djradio?id=346541057</u>
			section.body
				p.divider * * *
			section.heading
				h3 嘉宾
			section.body-list--figure
				ul
					li
						p Richor：日本武藏野美术大学学生，Type is Beautiful 撰稿人
			section.heading
				h3 主播
			section.body-list--figure
				ul
					li
						p Eric：字体排印研究者，译者，Type is Beautiful 编辑
			section.body
				p 欢迎与我们交流或反馈，来信请致 podcast@thetype.com​。如果你喜爱本期节目，也欢迎用支付宝向我们捐赠：hello@thetype.com​。
				p Type is Beautiful 会员计划已上线，成为我们的会员，即可享受月刊通讯、礼品赠送、活动优惠以及购物折扣等权益。
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p https://thetype.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter 或 Facebook 上关注我们。
