extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
				p TO BE DELETED
			section.body
				p 由「字体排印是对读者的一份心意」——高冈昌生先生在《西文排版》的后记中写下了母亲的这句话。而此书中译版的字里行间，同样包含着翻译、监修、设计者们的诸多心意。
				p 《西文排版》付梓，「新人文宋」面世，两者有着特别的关联。今日有幸齐聚一书一字背后的创作者，畅谈字体排印领域的翻译、出版及设计。
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>typeisbeautiful.com/2016/08/10807/</u>，即可浏览更多相关信息及参考链接。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">typeisbeautiful.com/feed/typechat/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://itunes.apple.com/cn/podcast/zi-tan-zi-chang/id1041704528</u>
					li
						p 下载音频：<br><u>http://thetype.b0.upaiyun.com/typechat/typechat028.mp3</u>
					li
						p 荔枝 FM：<br><u>http://lizhi.fm/1852153/2552671825202325510</u>
			section.body
				p.divider * * *
			section.heading
				h3 嘉宾
			section.body-list--figure
				ul
					li
						p 陈嵘：字体设计师，「新人文宋」主创；上海视觉艺术学院副教授、视觉与信息设计专业负责人
					li
						p 张暄：燕京城下夜玫瑰；汉仪字库资深字体设计师，本台第五期、第十七期嘉宾
			section.heading
				h3 主播
			section.body-list--figure
				ul
					li
						p Eric：字体排印研究者，译者，Type is Beautiful 编辑
					li
						p 蒸鱼：设计师，Type is Beautiful 编辑
			section.body
				p 欢迎致信 <u>podcast@thetype.com</u> 与我们交流或反馈。如果你喜爱本期节目，也欢迎用 PayPal 或支付宝向我们捐赠，账户与邮箱地址相同。
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p http://typeisbeautiful.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter、Facebook 和 Google+ 上关注我们。
