extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
				p TO BE DELETED
			section.body
				p 2016 年中秋前后，TypeTour 字体与视觉文化之旅启程，首站东京。六夜七天，足迹遍至书屋、美院、博物馆、编辑部，从圆盘机的排印实践，到江户文字的书法体验，有西文排版的现场讲座，也有直面字体研究者的对话交流。
				p 行程之末，团员齐聚交流。本期特别节目，播出这段现场录音，与听众分享 TypeTour 东京一行的画外之音。
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>typeisbeautiful.com/2017/01/11452/</u>，即可浏览更多相关信息及参考链接。
			section.body
				p.divider * * *
			section.heading
				h3 抽奖活动
			section.body
				p 第五轮抽奖已揭晓，祝贺 Cicielel 和 mintisan 两位听众。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">typeisbeautiful.com/feed/typechat/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://itunes.apple.com/cn/podcast/zi-tan-zi-chang/id1041704528</u>
					li
						p 下载音频：<br><u>http://thetype.b0.upaiyun.com/typechat/typechat037.mp3</u>
					li
						p 荔枝 FM：<br><u>http://lizhi.fm/1852153/2581161751799091206</u>
					li
						p 网易云音乐：<br><u>http://music.163.com/#/dj?id=900442574</u>
			section.body
				p.divider * * *
			section.heading
				h3 嘉宾
			section.body-list--figure
				ul
					li
						p 2016 TypeTour Tokyo 团员
				p TypeTour 是一个关于字体与视觉文化的深度旅游项目，由 Type is Beautiful 与策划推出，MIN Project 支持。
			section.body
				p.divider * * *
			section.heading
				h3 主播
			section.body-list--figure
				ul
					li
						p Eric：字体排印研究者，译者，Type is Beautiful 编辑
					li
						p 蒸鱼：设计师，Type is Beautiful 编辑
			section.body
				p 欢迎致信 <u>podcast@thetype.com</u> 与我们交流或反馈。如果你喜爱本期节目，也欢迎用 PayPal 或支付宝向我们捐赠，账户与邮箱地址相同。
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p http://typeisbeautiful.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter 或 Facebook 上关注我们。
