extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
				p TO BE DELETED
			section.body
				p TypePro 2016: Shanghai 于 9 月 3 日在同济大学举办，Eric Liu 及 Colourphilosophy 发表主题演讲。本期节目将与听众分享现场录音及演讲幻灯片。
				p TypePro 2016 由 Monotype 主办，包括字体相关的研讨会、主题演讲及工作坊等系列活动，今年 9 月在上海、北京、西安、深圳巡回进行。Type is Beautiful 参与协办。其中，上海及深圳两场由 Eric Liu 担任主持及日语翻译，Mira Ying 担任英语翻译；同时，Eric 和 Colourphilosophy 在现场发表主题演讲。
			section.body
				p.divider * * *
			section.heading
				h3 上海活字计划
			section.body-list
				ul
					li
						p 主题：上海活字简史，以及「上海活字」（Shanghai Type）的工作回顾，包括展览、讲座、工作坊，产品计划，出版计划，字体计划和纪录片等
					li
						p 讲者：厉致谦（Colourphilosophy）
			section.heading
				h3 字谈字畅
			section.body-list
				ul
					li
						p 主题：创办《字谈字畅》的缘起，开播一周年内重要主题与嘉宾的回顾，以及中文字体排印的学习和实践方法简谈等
					li
						p 讲者：刘庆（Eric Liu）
			section.body
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>typeisbeautiful.com/2016/10/11084/</u>，即可下载演讲幻灯片。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">typeisbeautiful.com/feed/typechat/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://itunes.apple.com/cn/podcast/zi-tan-zi-chang/id1041704528</u>
					li
						p 下载音频：<br><u>http://thetype.b0.upaiyun.com/typechat/typechat031.mp3</u>
					li
						p 荔枝 FM：<br><u>http://lizhi.fm/1852153/2560403097046511622</u>
			section.body
				p.divider * * *
			section.body
				p 欢迎致信 <u>podcast@thetype.com</u> 与我们交流或反馈。如果你喜爱本期节目，也欢迎用 PayPal 或支付宝向我们捐赠，账户与邮箱地址相同。
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p http://typeisbeautiful.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter、Facebook 和 Google+ 上关注我们。
