extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
				p TO BE DELETED
			section.body
				p 在电脑上创建文件名时，在编程中命名标识符时，在挑选域名、处理 URL 时，乃至在社交网站发布 hashtag 时，我们既要面对字符或字符组合的技术限制，也须遵循特定的书写风格或命名习惯。本期年更特辑「字谈字串」，我们将与两位友台主播一起聊聊数位空间中的命名问题。
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>thetype.com/typechat/ep-126/</u>，即可浏览更多相关信息及参考链接。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">thetype.com/typechat/feed/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://itunes.apple.com/cn/podcast/字谈字畅/id1041704528</u>
					li
						p 下载音频：<br><u>https://static.thetype.cloud/typechat/typechat126.mp3</u>
					li
						p 荔枝 FM：<br><u>https://lizhi.fm/1852153/5112974726900241542</u>
					li
						p 网易云音乐：<br><u>http://music.163.com/#/djradio?id=346541057</u>
			section.body
				p.divider * * *
			section.heading
				h3 主播
			section.body-list--figure
				ul
					li
						p Rio：《IT 公论》《疯投圈》《提前怀旧》及《内核恐慌》主播
					li
						p 吴涛：The Type 程序员，《内核恐慌》主播
					li
						p Eric：字体排印研究者，译者，The Type 编辑
					li
						p 蒸鱼：设计师，The Type 编辑
			section.body
				p 《内核恐慌》（Kernel Panic），一档号称硬核却也没什么干货的 IT 技术主题娱乐节目，Rio 和吴涛主持。
			section.body
				p 欢迎与我们交流或反馈，来信请致 <u>podcast@thetype.com</u>​。如果你喜爱本期节目，也欢迎用支付宝向我们捐赠：<u>hello@thetype.com</u>​。
				p The Type 会员计划已上线，成为我们的会员，即可享受月刊通讯、礼品赠送、活动优惠以及购物折扣等权益。
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p https://thetype.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter 或 Facebook 上关注我们。
