extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
				p TO BE DELETED
			section.body
				p 本期节目将集中介绍一款软件，也是本台过往对话中的常客——Glyphs。它为多文种的字体设计及字体文件制作，提供了丰富的特性和易用的界面，深受专业设计师及字体爱好者的认可。
				p 3type（三言）团队深度参与了 Glyphs 的本地化及教学推广。今天我们特别邀来 3type 的两位专家——微梨和初阳——为大家介绍这款专业工具及其背后开发者的故事。
				p 另，本期节目内藏为《字谈字畅》听众专设的 Glyphs 购买优惠。
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>thetype.com/2019/08/16987/</u>，即可浏览更多相关信息及参考链接。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">thetype.com/feed/typechat/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://itunes.apple.com/cn/podcast/字谈字畅/id1041704528</u>
					li
						p 下载音频：<br><u>https://static.thetype.cloud/typechat/typechat105.mp3</u>
					li
						p 荔枝 FM：<br><u>https://lizhi.fm/1852153/5058530660459202566</u>
					li
						p 网易云音乐：<br><u>http://music.163.com/#/djradio?id=346541057</u>
			section.body
				p.divider * * *
			section.heading
				h3 嘉宾
			section.body-list--figure
				ul
					li
						p 刘育黎（微梨）：同济大学媒体与传达方向研究生在读；3type（三言）设计师，多次担任 TypeSchool 课程中 Glyphs 部分的讲师
					li
						p 郑初阳：3type（三言）联合创始人；毕业于德国德绍包豪斯，初在柏林 MetaDesign 工作，深受 Livius Dietzel 影响；后回国，专注于多文字字体的研究与设计
			section.body
				p 3type（三言）是一家创新型的字体公司，致力于跨文化的文字沟通，并积极推动多语言字体匹配、字体开发、字体教育，Glyphs 造字软件在中国的本地化。3type 联系邮箱是 <u>hi@3type.cn</u>，还开设了哔哩哔哩（bilibili）帐户。
			section.body
				p.divider * * *
			section.heading
				h3 主播
			section.body-list--figure
				ul
					li
						p Eric：字体排印研究者，译者，Type is Beautiful 编辑
			section.body
				p 欢迎与我们交流或反馈，来信请致 <u>podcast@thetype.com</u>​。如果你喜爱本期节目，也欢迎用支付宝向我们捐赠：<u>hello@thetype.com</u>​。
				p Type is Beautiful 会员计划已上线，成为我们的会员，即可享受月刊通讯、礼品赠送、活动优惠以及购物折扣等权益。
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p https://thetype.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter 或 Facebook 上关注我们。
