extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
				p TO BE DELETED
			section.body
				p 独立造字十余载，应永会先生汲古而创新，坚持着一套手作工匠式的方法。今日我们有幸请到这位匠人，与听众分享「汲古书体」的诞生始末，以及应永会在刻本字体设计历程中的探索心得。
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>typeisbeautiful.com/2017/05/12298/</u>，即可浏览更多相关信息及参考链接。
			section.body
				p.divider * * *
			section.heading
				h3 抽奖活动
			section.body
				p 第九轮抽奖已揭晓，祝贺 298円与独角仙 和 洛克青象 两位听众。
				p 第十轮抽奖活动开启，截至 5 月 22 日零时前。本期奖品为来自东京印刷博物馆另一种杯垫两套，正面印有嵯峨本《徒然草》。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">typeisbeautiful.com/feed/typechat/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://itunes.apple.com/cn/podcast/zi-tan-zi-chang/id1041704528</u>
					li
						p 下载音频：<br><u>http://thetype.b0.upaiyun.com/typechat/typechat047.mp3</u>
					li
						p 荔枝 FM：<br><u>http://lizhi.fm/1852153/2601948848260432390</u>
					li
						p 网易云音乐：<br><u>http://music.163.com/#/dj?id=905509956</u>
			section.body
				p.divider * * *
			section.heading
				h3 嘉宾
			section.body-list--figure
				ul
					li
						p 应永会（Eonway）：独立字体设计师、平面设计师、插画师，创作有「浙江民间书刻体」「汲古书体」「博州小楷」等字体；欢迎在新浪微博（@應永會eonway）、Instagram（@eonway）、Facebook（Eonway Ying）等社交网络关注应永会
			section.heading
				h3 主播
			section.body-list--figure
				ul
					li
						p Eric：字体排印研究者，译者，Type is Beautiful 编辑
					li
						p 蒸鱼：设计师，Type is Beautiful 编辑
			section.body
				p 欢迎致信 <u>podcast@thetype.com</u> 与我们交流或反馈。如果你喜爱本期节目，也欢迎用 PayPal 或支付宝向我们捐赠，账户与邮箱地址相同。
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p http://typeisbeautiful.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter 或 Facebook 上关注我们。
