extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
				p TO BE DELETED
			section.body
				p Emoji 自进入 Unicode 字符集，持续扩增着图标的数量，关注及争议随之而来。Emoji 的普及当然也离不开软件对其的支持。今天，我们与《内核恐慌》的两位主播久别重聚，从字符集、编码技术、字体、应用软件等多个视角，不中立、不全面、不深刻地（再次）闲聊绘文字。
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>typeisbeautiful.com/2018/01/14028/</u>，即可浏览更多相关信息及参考链接。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">typeisbeautiful.com/feed/typechat/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://itunes.apple.com/cn/podcast/zi-tan-zi-chang/id1041704528</u>
					li
						p 下载音频：<br><u>https://thetype.b0.upaiyun.com/typechat/typechat064.mp3</u>
					li
						p 荔枝 FM：<br><u>https://lizhi.fm/1852153/2646101337542081030</u>
					li
						p 网易云音乐：<br><u>http://music.163.com/#/dj?id=909157574</u>
			section.body
				p.divider * * *
			section.heading
				h3 主播
			section.body-list--figure
				ul
					li
						p Rio：昂若资本合伙人，IPN 联合创始人，Apple4us 程序员，《IT 公论》《疯投圈》及《内核恐慌》主播
					li
						p 吴涛：Type is Beautiful 程序员，《内核恐慌》主播
					li
						p Eric：字体排印研究者，译者，Type is Beautiful 编辑
					li
						p 蒸鱼：设计师，Type is Beautiful 编辑
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p https://typeisbeautiful.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter 或 Facebook 上关注我们。
