extends _template

block var
	- var pageTitl = "TypeChat for WeChat" + " | The Type"
	- var pageDisc = "Article for WeChat"
	- var pageKeyw = "web, design, develop, demo, wechat"
	- var bodyClass = "body"
	- var verTag = "1.0"
	//--- Fake data

block bodyMain
	#main
		.article.typechat
			section.body
			section.body
				p 本期节目的开头，我们将与大家分享六封长信——愉快的时间总是短暂的，一晃眼九十分钟就这么过去了——在节目的尾声，奉上书讯两则、小林章先生记事一组。
				p 也再次欢迎新老听众致信 <u>podcast@thetype.com</u>，畅所欲言。虽难逐一回覆，来函必读。
				p 点击左下角「<span class="red">阅读原文</span>」，或访问 <u>typeisbeautiful.com/2016/12/11280/</u>，即可浏览更多相关信息及参考链接。
			section.body
				p.divider * * *
			section.heading
				h3 抽奖活动
			section.body
				p 第三轮抽奖已揭晓，祝贺大黑和宁逸两位听众（同时，支付宝上的幸运听众子龙的获奖名额也将保留）。
				p 第四轮抽奖启动：本轮两位幸运听众，将获赠坂本伸二著、主播 Eric 翻译的《设计入门教室：设计的基本规则》（内含译者签名），截至 12 月 19 日零时前。
			section.body
				p.divider * * *
			section.heading
				h3 订阅方式
			section.body
				p 在你喜爱的播客客户端（podcast app）搜索「字谈字畅」或直接订阅如下 URL：<br><u class="red">typeisbeautiful.com/feed/typechat/</u>
			section.body-list
				ul
					li
						p iTunes：<br><u>https://itunes.apple.com/cn/podcast/zi-tan-zi-chang/id1041704528</u>
					li
						p 下载音频：<br><u>http://thetype.b0.upaiyun.com/typechat/typechat036.mp3</u>
					li
						p 荔枝 FM：<br><u>http://lizhi.fm/1852153/2573443457197608454</u>
			section.body
				p.divider * * *
			section.heading
				h3 主播
			section.body-list--figure
				ul
					li
						p Eric：字体排印研究者，译者，Type is Beautiful 编辑
					li
						p 蒸鱼：设计师，Type is Beautiful 编辑
			section.body
				p 欢迎致信 <u>podcast@thetype.com</u> 与我们交流或反馈。如果你喜爱本期节目，也欢迎用 PayPal 或支付宝向我们捐赠，账户与邮箱地址相同。
			section.footer
				img(src="http://realfish.github.io/tib-wechat/assets/wechat-footer.png")
				p http://typeisbeautiful.com
				p 微信公众号「The Type」。您亦可选择在微博、Twitter 或 Facebook 上关注我们。
